*{
    margin: 10;
    padding: 20;
    box-sizing: border-box;
}

body{
    background-color: #red;
}

.containers{
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color:rgb(210, 223, 175);
}


.container-form{
    font-style: italic;
    font-size: 15px;
    padding-left:  10px;
    width: 100%;
    padding-top:  10px;
    padding-bottom:  8px;
    justify-content: space-around;
    flex-shrink: 0;
    background-color:rgb(224, 168, 142);
}



.container-list{
    font-style: italic;
    font-size: 15px;
    padding-left:  10px;
    width: 100%;
    padding-top:  2px;
    padding-bottom:  8px;
    justify-content: space-around;
    flex-shrink: 0;
    background-color:rgb(224, 168, 142);
}

.button{
    color: #fff;
    background: #5da3be;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 1px;
    margin-top: 20px;
    text-decoration: none;
}
.button-delete{
    color: #fff;
    background: #bb523f;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 1px;
    margin-top: 10px;
    text-decoration: none;
}

.columnass{
    margin-top:300px;
    padding-left: 200px;
    width: 400px;
    background-color: #bb523f;
}
.elemento{
    height: 50px;
    
    width: 200px;
    background-color: #c79c94;
}

.tabla{
    
    margin-left: 200px;
    margin-right: 200px;
    width: 250px px;
    background-color: #c79c94;
}